{% extends "base.html" %} {% block title %}Disciplinas{% endblock %} {% block
content %}
<h1>Disciplinas</h1>
<a href="{{ url_for('main.new_disciplina') }}" class="btn btn-primary"
  >Nova Disciplina</a
>
<table class="table mt-3">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Código</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    {% for disciplina in disciplinas %}
    <tr>
      <td>{{ disciplina.nome }}</td>
      <td>{{ disciplina.codigo }}</td>
      <td>
        <a
          href="{{ url_for('main.edit_disciplina', id=disciplina.id) }}"
          class="btn btn-sm btn-warning"
          >Editar</a
        >
        <a
          href="{{ url_for('main.delete_disciplina', id=disciplina.id) }}"
          class="btn btn-sm btn-danger"
          onclick="
            return confirm('Tem certeza que deseja deletar esta disciplina?');
          "
          >Deletar</a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
