{% extends "base.html" %} {% block title %}Professores{% endblock %} {% block
content %}
<h1>Professores</h1>
<a href="{{ url_for('main.new_professor') }}" class="btn btn-primary"
  >Novo Professor</a
>
<table class="table mt-3">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    {% for professor in professores %}
    <tr>
      <td>{{ professor.username }}</td>
      <td>{{ professor.email }}</td>
      <td>
        <a
          href="{{ url_for('main.edit_professor', id=professor.id) }}"
          class="btn btn-sm btn-warning"
          >Editar</a
        >
        <form
          method="POST"
          action="{{ url_for('main.delete_professor', id=professor.id) }}"
          class="d-inline"
          onsubmit="return confirm('Tem certeza que deseja deletar este professor?');"
        >
          {{ delete_form.hidden_tag() }}
          <button type="submit" class="btn btn-sm btn-danger">Deletar</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
