{% extends "base.html" %} {% block title %}Salas{% endblock %} {% block content
%}
<h1>Salas</h1>
<a href="{{ url_for('main.new_sala') }}" class="btn btn-primary">Nova Sala</a>
<table class="table mt-3">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Capacidade</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    {% for sala in salas %}
    <tr>
      <td>{{ sala.nome }}</td>
      <td>{{ sala.capacidade }}</td>
      <td>
        <a
          href="{{ url_for('main.edit_sala', id=sala.id) }}"
          class="btn btn-sm btn-warning"
          >Editar</a
        >
        <a
          href="{{ url_for('main.delete_sala', id=sala.id) }}"
          class="btn btn-sm btn-danger"
          onclick="return confirm('Tem certeza que deseja deletar esta sala?');"
          >Deletar</a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
