{% extends "base.html" %} {% block title %}{{ title }}{% endblock %} {% block
content %}
<h1>{{ title }}</h1>
<form method="POST">
  {{ form.hidden_tag() }}
  <div class="mb-3">
    {{ form.dia.label(class="form-label") }} {{ form.dia(class="form-control")
    }}
  </div>
  <div class="mb-3">
    {{ form.hora_inicio.label(class="form-label") }} {{
    form.hora_inicio(class="form-control") }}
    <div class="form-text">
      Formato 24h (ex: 13:30). Não precisa digitar AM/PM.
    </div>
  </div>
  <div class="mb-3">
    {{ form.hora_fim.label(class="form-label") }} {{
    form.hora_fim(class="form-control") }}
    <div class="form-text">
      Formato 24h (ex: 14:30). Não precisa digitar AM/PM.
    </div>
  </div>
  <div class="mb-3">
    {{ form.sala_id.label(class="form-label") }} {{
    form.sala_id(class="form-control") }}
  </div>
  <div class="mb-3">
    {{ form.professor_id.label(class="form-label") }} {{
    form.professor_id(class="form-control") }}
  </div>
  <div class="mb-3">
    {{ form.disciplina_id.label(class="form-label") }} {{
    form.disciplina_id(class="form-control") }}
  </div>
  {{ form.submit(class="btn btn-primary") }}
</form>
{% endblock %}
